}
a: hover {
	color: white;
}
table {
	border-collapse: collapse;
	border: 2px solid black;
    table-layout: fixed;
    width: 100%;
}
td{
	padding: 5px;
	border: 1px solid black;
    

}
th {
	color: white;
	background-color: black;
	padding: 5px;
}
tr{
	height: 45px;
}
.titulo{
	font-family: cambria, "Hoefler text", "Times New Roman", serif;
	font-size: 20px;
	line-height: 30px;
	background-color: white;
	color: white;
	text-align: center;
	font-style: normal;
}
.Subtitulo{
	font-family: "Lucia Grande", "Lucia sans unicode",  verdana;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: white;
	text-align: center;
	font-style: normal;
}
.normal{
	font-family: cambria, "Hoefler text", "liberation serif", Times;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: black;
	text-align: center;
	font-style: normal;
}
.derecha{
	font-family: cambria,"Hoefler text",  "liberation serif" Times;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
	color: black;
	text-align: right;
	font-style: normal;
}
.estilo24{
	font-size: 24pt;
	color: white;
}
.estiloPietabla{
	font-size: 8pt;
	color: white;
	text-align: center;
}